---
// This is a layout for the 'landing.njk' page
layout: 'layouts/landing.njk'

// Page title
title: '3PCD readiness'

// Page description
description: 'A series of proposals to satisfy cross-site use cases without third-party cookies or other tracking mechanisms.'

// An array containing sections of the page
sections: {
  // An object for the 'prepare_for_3pcd' section
  prepare_for_3pcd: [
    // An array of objects, each representing a card in the section
    {
      // URL of the card
      url: '/docs/3pcd-readiness/learn-about-cookies',
      
      // Title of the card
      title: 'Learn about cookies',
      
      // Description of the card
      description: 'Understand what cookies are, how they work, and why are they being deprecated.'
    },
    // More objects for additional cards...
  ],

  // Similar structure for 'cookies' and '3pc_alternatives' sections...

  // An object for the 'dev_tools' section
  dev_tools: [
    // An array of objects, each representing a card in the section
    {
      // URL of the card
      url: '/docs/3pcd-readiness/chrome-facilitated-testing',
      
      // Title of the card
      title: 'Learn about Chrome-facilitated testing',
      
      // Description of the card
      description: ''
    },
    // More objects for additional cards...
  ]
}

// Macros are imported here to be used in the layout
{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}
{% from 'macros/cards/blog-card.njk' import blogCard with context %}
{% from 'macros/icon.njk' import icon with context %}
{% from 'macros/landing-section.njk' import landingSection with context %}
{% from 'macros/landing-deco.njk' import landingDeco with context %}
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}
{% from 'macros/landing-section-usecases.njk' import landingSectionUseCases with context %}
