{% from 'macros/icon.njk' import icon with context %}

{% macro featuredTweetCard() %}
  {# Assign the first tweet from the 'tweets' array to the 'tweet' variable #}
  {% set tweet = tweets[0] %}
  {% if tweet %}

