.aside {
  /* Sets default link and background colors for the aside element */
  --link-color: var(--color-blue-darkest);
  --link-visited-color: var(--color-blue-darkest);
  --link-rgb-background: var(--rgb-blue-darkest);
  background-color: var(--color-blue-lightest);
  border-radius: 6px;
  color: var(--color-blue-darkest);
  padding: get-size(400); /* Sets padding using the get-size utility function */

  > * + * {
    /* Sets margin between sibling elements */
    margin-top: get-size(300); /* Sets margin using the get-size utility function */
  }

  /* Duplicates the above .aside styles for users who just want colors */
  &--default {
    --link-color: var(--color-blue-darkest);
    --link-visited-color: var(--color-blue-darkest);
    --link-rgb-background: var(--rgb-blue-darkest);
    background-color: var(--color-blue-lightest);
    color: var(--color-blue-darkest);
  }

  /* Sets caution-specific link and background colors */
  &--caution {
    --link-color: var(--color-yellow-darkest);
    --link-visited-color: var(--color-yellow-darkest);
    --link-rgb-background: var(--rgb-yellow-darkest);
    background-color: var(--color-yellow-lightest);
    color: var(--color-yellow-darkest);
  }

  /* Sets warning-specific link and background colors */
  &--warning {
    --link-color: var(--color-red-darkest);
    --link-visited-color: var(--color-red-darkest);
    --link-rgb-background: var(--rgb-red-darkest);
    background-color: var(--color-red-lightest);
    color: var(--color-red-darkest);
  }

  /* Sets success-specific link and background colors */
  &--success {
    --link-color: var(--color-green-darkest);
    --link-visited-color: var(--color-green-darkest);
    --link-rgb-background: var(--rgb-green-darkest);
    background-color: var(--color-green-lightest);
    color: var(--color-green-darkest);
  }

  /* Sets important-specific link and background colors */
  &--important {
    --link-color: var(--color-purple-darkest);
    --link-visited-color: var(--color-purple-darkest);
    --link-rgb-background: var(--rgb-purple-darkest);
    background-color: var(--color-purple-lightest);
    color: var(--color-purple-darkest);
  }

  /* Sets update-specific link and background colors */
  &--update {
    --link-color: var(--color-blue-darkest);
    --link-visited-color: var(--color-blue-darkest);
    --link-rgb-background: var(--rgb-blue-darkest);
    background-color: var(--color-blue-lightest);
    color: var(--color-blue-darkest);
  }

  /* Sets key-term-specific link and background colors */
  &--key-term {
    --link-color: var(--color-pink-darkest);
    --link-visited-color: var(--color-pink-darkest);
    --link-rgb-background: var(--rgb-pink-darkest);
    background-color: var(--color-pink-lightest);
    color: var(--color-pink-darkest);
  }

  /* Sets codelab-specific and example-specific link and background colors */
  &--codelab,
  &--example {
    --link-color: var(--color-cyan-darkest);
    --link-visited-color: var(--color-cyan-darkest);
    --link-rgb-background: var(--rgb-cyan-darkest);
    background-color: var(--color-cyan-lightest);
    color: var(--color-cyan-darkest);
  }
}

.aside__label {
  /* Centers the contents of the element */
  align-items: center;
