.author-hero {
  /* The switcher class is used to align items centrally */
  .switcher {
    align-items: center;
  }

  /* The avatar class is used to set the maximum width of the author avatar */
  .avatar {
    max-width: 80px;
  }
}

/* The __social class is used to style the social icons */
.author-hero__social {
  .social-icon {
    /* Add padding to the social icons */
    padding: 0 10px;

    /* Style the first social icon */
    &:first-child {
      padding-left: 0;
    }
  }
}

/* The web class is used to style the author's website link */
.web {
  /* Apply grayscale filter to the website link */
  filter: grayscale(100%);
  /* Add a transition effect to the filter property */
  transition: filter 0.2s ease;

  /* On hover, remove the grayscale filter */
  &:hover {
    filter: grayscale(0%);
  }
}

/* The __bio class is used to style the author's bio */
.author-hero__bio {
  /* Hide the bio by default */
  display: none;
  /* Set the font size of the bio */
  font-size: 18px;

  /* Style the first paragraph of the bio */
  p:first-child {
    margin-top: 1.5rem;
  }
}

/* The type--h4 class is used to style the author's name */
.type--h4 {
  font-size: 28px;
}

/* The details class is used to style the author's details */
.details {
  /* Display the details block */
  display: block;

  /* Style the header of the details block */
  &__header {
    font-size: 18px;
  }

  /* Style the paragraphs inside the
