.card-authors__image > img {
  /* Add a 2px solid border in the background color to the image */
  border: 2px solid var(--color-bg);
  /* Make the border rounded */
  border-radius: 100%;
  /* Since we're adding a 2px border all around the image, we need to set the
     box-sizing property to content-box, otherwise the image will display at
     36px instead of 40px. */
  box-sizing: content-box;
  /* Set the height and width of the image to 40px */
  height: 40px;
  max-width: 40px;
  width: 
