/* The checkbox-group selector targets a group of checkboxes and their associated labels. */
checkbox-group {
  label {
    /* The label styles are centered, with a grey-700 color, and a font weight of 500. */
    align-items: center;
    color: get-color('grey-700');
    font-weight: 500;
    /* The label text is displayed as a flex container, with a cursor of pointer to indicate that it is clickable. */
    display: flex;
    cursor: pointer;
    /* The margin-bottom property adds space between the label and the next element. */
    margin-bottom: 0.75rem;

    /* The :has pseudo-class checks if the input element inside the label is disabled. If it is, the color is changed to grey-400 and the cursor is set to initial. */
    &:has(input:disabled) {
      color: get-color('grey-400');
      cursor: initial;
    }
  }

  input {
    /* The input styles have a height and width of 24px, with a margin-right of 0.6875rem. */
    height: 24px;
    margin-right: 0.687
