.fugu-showcase { /* Overall container for the showcase section */
  .search-box { /* Container for the search box */
    align-items: center; /* Centers the child elements vertically */
    gap: 1rem; /* Adds horizontal spacing between child elements */
  }

  .search-box__input { /* Input field for the search box */
    background: var(--color-bg-shade); /* Background color for the input field */
    border: 0; /* Removes border around the input field */
    border-radius: px-to-rem(100px); /* Sets border radius for rounded corners */
    display: block; /* Makes the input field a block-level element */
    margin: 0; /* Removes margin around the input field */
    padding: get-size(200) get-size(700); /* Sets padding for the input field */

    &::placeholder { /* Placeholder text for the input field */
      color: var(--color-secondary-text); /* Sets color for the placeholder text */
    }
  }

  .search-box__btn--close { /* Close button for the search box */
    justify-self: end; /* Aligns the button to the right of the container */
  }

  .search-box__btn--close svg { /* SVG icon for the close button */
    height: 18px; /* Sets height for the SVG icon */
    width: 18px; /* Sets width for the SVG icon */
  }

  label[for='api-select'] { /* Label for the API select dropdown */
    text-transform: uppercase; /* Converts text to uppercase */
  }

  .enhanced-select__wrapper { /* Container for the API select dropdown */
    border: 0; /* Removes border around the container */
    color: var(--color-primary); /* Sets color for the text inside the container */
  }

  .blog-grid { /* Container for the grid of blog cards */
    justify-content: space-evenly; /* Evenly distributes the blog
