/* The container for the post navigation links */
.post-navigation {
  /* Adds a thin border at the top and bottom of the container */
  border-bottom: 1px solid var(--color-hairline);
  border-top: 1px solid var(--color-hairline);
  /* Centers the child elements horizontally and distributes them evenly */
  display: flex;
  justify-content: space-between;
  /* Positions the container vertically */
  margin-bottom: px-to-rem(-72px);
  margin-top: px-to-rem(80px);
  /* Makes the container take up the full width available */
  width: 100%;

  /* Media query for screens with a maximum width of 767.99px */
  @include media-query('md-max') {
    /* Changes the flex direction to column */
    flex-direction: column;
  }

  /* The styles for the individual post navigation links */
  &__link {
    /* Makes the link a block element, takes up the full width available */
    display: block;
    /* Sets the font size and line height */
    font-size: px-to-rem(20px);
    line-height: px-to-rem(28px);
    /* Adds some padding around the link */
    padding: px-to-rem(40px);
    /* Removes the default underline from the link */
    text-decoration: none;

    /* Media query for screens with a maximum width of 767.99px */
    @include media-query('md-max') {
      /* Makes the link take up the full width available */
      width: 100%; 
    }

    /* Media query for screens with a maximum width of 1023.99px */
    @include media-query('lg-max') {
      /* Adds some more padding around the link */
      padding: px-to-rem(40px) px-to-rem(24px); 
    }
  }

  /* The styles for the hover state of the post navigation links */
  &__link:hover {
    /* Adds a light blue background color */
    background-color: var(--color-blue-lightest);
    /* Makes the link take up the full height available */
    height: 100%;
  }

  /* The styles for the previous post navigation link */
  &__prev {
    /* Adds a border to the right of the link */
    border-right: 1px solid var(--color-hairline);

    /* Media query for screens with a maximum width of 767.99px */
    @include media-query('md-max') {
      /* Changes the border to bottom */
      border-bottom: 1px solid var(--color-hairline);
      /* Removes the top border */
      border-top: unset; 
    }
  }

  /* The styles for the previous and next post navigation links */
  &__prev,
  &__next {
    /* Makes the links take up half the width of the container */
    width: 50%;

    /* Media query for screens with a maximum width of 767.99px */
    @include media-query('md-max') {
      /* Makes the
