@include media-query('lg') {
  gap: get-size(800);
  grid-template-columns: 1fr 2fr 1fr;
}


}

// When the data-search-active attribute is present on the top-nav element,
// the following styles are applied.
top-nav[data-search-active] {
// On screens smaller than large, the following styles are applied.
@include media-query('lg-max') {
// The grid-template-columns are set to 1fr, and the padding is set to 0 on the
// left side and 400 on the right side.
nav {
grid-template-columns: 1fr;
padding: 0 get-size(400);
}



}

// A pseudo-element is created before the nav element to recreate the hairline
// that appears at the bottom of the top-nav.
// This will appear above the overlay, in between the search box and the
// search results.
nav::before {
@include apply-utility('stack', '500');
@include full-bleed();
background-color: var(--color-hairline);
content: '';
display: block;
height: 1px;
position: absolute;
// The top property is set to the sum of the search-box's height and the top-nav's
// bottom padding on larger screens.
top: calc(#{$search-box-height} + #{nth(map-get($top-nav-padding, 'lg'), 1)});
}

// A full-screen overlay
