<!DOCTYPE html>
<!-- This is the document type declaration for HTML5 -->

<html lang="{{ locale }}">
<!-- The 'lang' attribute sets the language for the HTML document, where {{ locale }} is a variable -->

<head>
  <!-- The 'head' element contains meta-information about the HTML document -->

  <meta charset="UTF-8" />
  <!-- This sets the character encoding for the HTML document to UTF-8 -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- This sets the viewport meta tag for responsive design -->

  {% if noindex -%}
  <meta name="robots" content="noindex">
  <!-- This meta tag prevents the HTML document from being indexed by search engines when 'noindex' is truthy -->
  {%- endif %}

  {% include 'partials/meta.njk' %}
  <!-- This includes the 'partials/meta.njk' file, which likely contains meta tags for the HTML document -->

  {% block feed %}
  <!-- This is a block that can be overridden in child templates to define feed links -->

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feeds/all.xml">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ 'i18n.common.blog' | i18n(locale) }}" href="{{ site.url }}/feeds/blog.xml">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ 'i18n.common.articles' | i18n(locale) }}" href="{{ site.url }}/feeds/articles.xml">

  {% endblock %}

  <link rel="preload" as="font" crossorigin href="/fonts/google-sans-v2003/regular/latin.woff2">
  <link rel="preload" as="font" crossorigin href="/fonts/google-sans-v2003/medium/latin.woff2">
  <!-- These are preload links for Google Sans font files -->

  {% block css %}{% endblock %}
  <!-- This is a block that can be overridden in child templates to include CSS files -->

  <script type="module" src="{{ helpers.hashForProd('/js/main.js') }}"></script>
  <!-- This is a script tag for the 'main.js' file, with a hash for production -->

  {% if process.env.NODE_ENV === 'production' %}
    <script async src="https://www.googletagmanager.com/gtm.js?id=GTM-5QF3RT2"></script>
  <!-- This is a Google Tag Manager script tag, included only in production -->
  {% endif %}

  {# Private Aggregation API testing script #}
  {# The test will run until mid-April #}
  {% if process.env.NODE_ENV === 'production' %}
    <script type="module" defer src="https://shared-storage-demo-content-producer.web.app/paa/scripts/private-aggregation-test.js"></script>
  <!-- This is a script tag for the Private Aggregation API testing script, included only in production -->
  {% endif %}

  {# Add a facility for pages to declare an array of script paths. #}
  {# Note: We could also use this approach to load module/nomodule scripts #}
  {# https://philipwalton.com/articles/deploying-es2015-code-in-production-today/ #}
  {% if pageScripts %}
    {% for item in pageScripts %}
      <script type="module" src="{{ helpers.hashForProd(item) }}"></script>
    <!-- These are script tags for any additional scripts, with hashes for production -->
    {% endfor %}
  {% endif %}

  {# Dogfood document speculation rules origin trial #}
  <!-- developer.chrome.com origin trial token - valid until 23 Mar 2023 -->
  <meta http-equiv="origin-trial" content="AhaT7AdLUbVk3M0VorYLzXSY8Km9PJZlzg3Xkv6KT2QMZ4zyqA5BfdTJLCj1TVnGhryWtQH66HWQEsIbZDUrsAwAAABseyJvcmlnaW4iOiJodHRwczovL2RldmVsb3Blci5jaHJvbWUuY29tOjQ0MyIsImZlYXR1cmUiOiJTcGVjdWxhdGlvblJ1bGVzUHJlZmV0Y2hGdXR1cmUiLCJleHBpcnkiOjE2OTQxMzExOTl9">

  {# Exclude the /articles/ section as a control #}
  <script type="speculationrules">
  {
    "prerender": [
      {
        "source": "document",
        "where": {
          "and": [
            {
              "href_matches": "/*\\?*", "relative_to": "document"
            },
            {
              "not": {
                "href_matches": "/articles/*\\?*",
                "relative_to": "document"
              }
            }
          ]
        },
        "eagerness": "moderate"
      }
    ]
  }
  <!-- This is a script tag for speculation rules, which controls how the browser pre-renders pages -->

  {# This needs to be include'd, because it expands 11ty variables #}
  <script>{% include 'partials/script.js' %}</script>
  <!-- This includes the 'partials/script.js' file, which likely contains JavaScript code that uses 
