{% extends "layouts/base.njk" %}  <!-- Extends the base layout for this template -->

{% block css %}
{% InlineCss '/css/home.css' %}  <!-- Inlines the CSS from home.css file into the page -->
{% endblock %}

{% from 'macros/cards/hero-card.njk' import heroCard with context %}  <!-- Imports the heroCard macro from the specified file with context -->
{% from 'macros/cards/featured-post-card.njk' import featuredPostCard with context %}  <!-- Imports the featuredPostCard macro from the specified file with context -->
{% from 'macros/cards/featured-docs-card.njk' import featuredDocsCard with context %}  <!-- Imports the featuredDocsCard macro from the specified file with context -->
{% from 'macros/cards/featured-tweet-card.njk' import featuredTweetCard with context %}  <!-- Imports the featuredTweetCard macro from the specified file with context -->
{% from 'macros/cards/releases-card.njk' import releasesCard with context %}  <!-- Imports the releasesCard macro from the specified file with context -->

{% block content %}  <!-- Defines the block for the page content -->
  <div class="home-container width-full center-margin pad-400">  <!-- Defines a div container for the home page with specified classes -->

    {# Calls the heroCard macro with specified parameters #}
    {# heroCard(title, description, actionText, actionUrl, image, imageAlt) #}
    {{ heroCard(
        "Thank you for tuning in to Google I/O.",  <!-- The title of the hero card -->
        "Check out the top web things that we are investing in to help you work smarter, ship faster, and stay inspired.",  <!-- The description of the hero card -->
        "Watch now",  <!-- The action text for the hero card button -->
         "https://www.youtube.com/watch?v=gkAYHomO5Hg&list=PLOU2XLYxmsIJGxIV8Lt8gF_79Z334LQ6h",  <!-- The action URL for the hero card button -->
        null,  <!-- The image for the hero card (not used in this instance) -->
        "A colorful Google propeller hat."  <!-- The alt text for the image (not used in this instance) -->
        ) }}

    <div class="gap-top-500 grid-gap-500 display-flex direction-column masonry:direction-row align-center masonry:align-start">  <!-- Defines a div container for the masonry layout with specified classes -->
      <div class="display-flex direction-column grid-gap-500">  <!-- Defines a div container for the first column with specified classes -->
        {% set post = helpers.findByUrl(collections.all, '/blog/chrome-at-io23', 'en') %}  <!-- Sets the post variable to the post with the specified URL -->
        {% if post %}  <!-- If the post exists -->
        {{ featuredPostCard(post, {  <!-- Calls the featuredPostCard macro with the post variable and specified parameters -->
          icon: 'star',  <!-- The icon for the featured post card -->
          actionText: 'Discover',  <!-- The action text for the featured post card button -->
          actionUrl: '/blog/chrome-at-io23/'  <!-- The action URL for the featured post card button -->
        }) }}
        {% endif %}
        {% set blog = 'blog-' + locale %}  <!-- Sets the blog variable to the blog directory for the current locale -->
        {{ featuredPostCard(collections[blog][0], {  <!-- Calls the featuredPostCard macro with the first post from the blog directory and specified parameters -->
          title: 'i18n.nav.side_nav.blog' | i18n(locale),  <!-- The title for the featured post card (translated) -->
          actionText: 'i18n.common.see_all_articles' | i18n(locale),  <!-- The action text for the featured post card button (translated) -->
          actionUrl: '/blog'  <!-- The action URL for the featured post card button -->
        }) }}
        {{ releasesCard() }}  <!-- Calls the releasesCard macro with no parameters -->

        {% set meetTheTeam = helpers.findByUrl(collections.all, '/meet-the-team', 'en') %}  <!-- Sets the meetTheTeam variable to the post with the specified URL -->

        {% if meetTheTeam %}  <!-- If the meetTheTeam post exists -->
          {{
            featuredPostCard(meetTheTeam, {  <!-- Calls the featuredPostCard macro with the meetTheTeam post and specified parameters -->
              icon: 'calendar',  <!-- The icon for the featured post card -->
              title: 'i18n.events.meet_the_team_card.tag' | i18n(locale),  <!-- The title for the featured post card (translated) -->
              actionText: 'i18n.events.meet_the_team_card.cta' | i18n(locale),  <!-- The action text for the featured post card button (translated) -->
              actionUrl: '/meet-the-team/',  <!-- The action URL for the featured post card button -->
              class: 'featured-card--bg-yellow rounded-lg width-full'  <!-- The class for the featured post card container -->
            })
          }}
        {% endif %}
      </div>
      <div class="display-flex direction-column grid-gap-500">  <!-- Defines a div container for the second column with specified classes -->
        {{ featuredDocsCard(featuredProjects) }}  <!-- Calls the featuredDocsCard macro with the featuredProjects variable -->
        {% if tweets and tweets.length %}  <!-- If the tweets array exists and has a length -->
          {{ featuredTweetCard() }}  <!-- Calls the featuredTweetCard macro with no parameters -->
        {% endif %}
        {% include 'partials/featured-gdg-
