{% extends "layouts/base.njk" %}

{# Include the CSS for this template #}
{% InlineCss '/css/landing.css' %}

{% block content %}
  <div class="landing-container width-full pad-400">
    {{ content | safe }}
  </div>
{% endblock %}



{# Extend the base template #}
{% extends "layouts/base.njk" %}

{# Include the CSS for this template #}
{% InlineCss '/css/landing.css' %}

{# Define the content block for this template #}
{% block content %}
  <div class="landing-container width-full pad-400">
    {{ content | safe }}
  </div>
{% endblock %}

