---
noindex: true  // This line prevents this page from being indexed by search engines
layout: 'layouts/landing.njk'  // This line sets the layout for this page
title: Sample landing page  // The title of the page
description: A sample landing page used for visual testing  // A brief description of the page
landingSectionItems:  // An array of objects that define the items in the landing section
  - url: https://developer.chrome.com
    title: Item 1
    description: If you pass an array of urls to a landing section. They'll surface like this.
  - url: https://developer.chrome.com
    title: Item 2
    description: Each item should consist of an url, title and description
  - url: https://developer.chrome.com
    title: Item 3
    description: Or you can pass a single internal URL which will surface as per the following item.
expandedLandingSection:  // An object that defines the items in the expanded landing section
  links:
    - url: https://developer.chrome.com
      title: A custom link
      description: You can add custom links as with the standard landingSection macro.
    - url: /content-types/landing/
    - url: /content-types/blog-post/
  - url: /
    title: A custom title
    important: true
exploreLandingSection:  // An object that defines the items in the explore landing section
  links:
    - url: https://developer.chrome.com
      title: A custom link
      icon: error
    - url: /content-types/landing/
      title: A custom link
      icon: done
    - url: /content-types/blog-post/
      title: A custom link
      icon: home
    - url: https://developer.chrome.com
      title: A custom link
      icon: blog
    - url: https://developer.chrome.com
      title: A custom link
      icon: star
    - url: https://developer.chrome.com
      title: A custom link
      icon: lightbulb-outline
useCaseLandingSection:  // An object that defines the use cases in the use case landing section
  learn_more:
    link: https://developer.chrome.com
  links:
    - title: A custom link
      description: A custom link for this use case
      url: /content-types/landing/
    - title: A custom link
      description: A custom link for this use case
      url: /content-types/landing/
    - title: A custom link
      description: A custom link for this use case
      url: /content-types/landing/
  use_case_1:
    - title: Use case 1 resource
      description: A custom link for this use case
      url: /content-types/landing/
    - title: Use case 1 resource
      description: A custom link for this use case
      url: /content-types/landing/
    - title: Use case 1 resource
      description: A custom link for this use case
      url: /content-types/landing/
  use_case_1_additional:
    title: More documents
    items:
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
        important: true
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
  use_case_2:
    - title: Use case 2 resource
      description: A custom link for this use case
      url: /content-types/landing/
    - title: Use case 2 resource
      description: A custom link for this use case
      url: /content-types/landing/
    - title: Use case 2 resource
      description: A custom link for this use case
      url: /content-types/landing/
  use_case_2_additional:
    items:
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
        important: true
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
        important: true
      - title: An additional document
        description: A custom link for this use case
        url: /content-types/landing/
---

{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}  // Import the heroCardWide macro from the 'macros/cards/hero-card-wide.njk' file
{% from 'macros/icon.njk' import icon with context %}  // Import the icon macro from the 'macros/icon.njk' file
{% from 'macros/landing-section.njk' import landingSection with context %}  // Import the landingSection macro from the 'macros/landing-section.njk' file
{% from 'macros/landing-deco.njk' import landingDeco with context %}  // Import the landingDeco macro from the 'macros/landing-deco.njk' file
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}  // Import the landingSectionExpanded macro from the 'macros/landing-section-expanded.njk' file
{% from 'macros/landing-section-explore.njk' import landingSectionExplore with context %}  // Import the landingSectionExplore macro from the 'macros/landing-section-explore.njk' file
{% from 'macros/landing-section-usecases.njk' import landingSectionUseCases with context %}  // Import the landingSectionUseCases macro from the 'macros/landing-section-usecases.njk' file

{{ heroCardWide(
  "A sample landing page",  // The title of the hero card
  "This page is used for visual testing of
