// Defines typography placeholders using Sass placeholder selectors
// These placeholders are safer to use with @extend as they don't get included
// in the final CSS output and help us avoid duplication.

@mixin list-styles($margin) {
  // Defines list styles and margin for various components
  $list-margin: px-to-rem($margin);
  list-style: none;
  margin-left: $list-margin;
  padding: 0;
  position: relative;
  
  // Applies styles for large screens
  @include media-query('lg') {
    max-width: calc(100% - #{$list-margin * 2});
  }
}

%type {
  // Defines a placeholder for typography styles

  &--headline {
    // Applies headline styles and extends heading-link-container utility class
    @extend %heading-link-container;
    @include apply-utility('font', 'google-sans');
    @include apply-utility('weight', 'regular');
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
  }

  // Defines various typography styles for different components
  // Each style extends the headline style and applies specific font sizes and line heights

  &--var-large {
    @extend %type--headline;
    font-size: 10vw;
    line-height: 1.2em;

    // Applies styles for medium and large screens
    @include media-query('md') {
      font-size: 6vw;
      line-height: 1.2em;
    }

    @include media-query('lg') {
      font-size: 5vw;
      line-height: 1.2em;
    }
  }

  // ... Additional styles for &--var-small, &--h1, &--h2, &--h3, &--h4, &--h5, &--h6, &--footer, &--cta, &--eyebrow, &--base, &--large, &--small, &--caption, &--label, &--xsmall, &--blockquote, &--cite, &--list, &--list-item, &--ordered-list, &--ordered-list-item, &--dt, &--dd, &--code, &--full-bleed, &--hairline
}
