{% from "macros.html" import landingDeco %}

{{ landingDeco(
  title="Example Title",
  desc="This is an example description.",
  color="blue",
  imgSrc="path/to/image.jpg",
  imgAlt="Example Image",
  imgWidth=800,
  imgHeight=600,
  smallImgSrc="path/to/small-image.jpg",
  learnMore={
    link: "path/to/learn-more",
    title: "Learn More"
  }
) }}
