{% if banner %}
  {# Check if the 'banner' variable is truthy #}
  
  <announcement-banner 
    class="banner banner--{{ banner.type or 'info' }}" 
    storage-key="user-banner">
    {# Render the banner component with the specified class and storage key.
     The banner type is set to the value of 'banner.type', or 'info' if 'banner.type' is falsy #}

    <div class="banner__inner">
      <div class="banner__text">
        {# Wrap the banner text in a div with the class 'banner__text' #}

        <div class="display-inline-block">
          {{ banner.text | md | safe }}
          {# Display the banner text, which has been marked down processed and sanitized #}
        </div>
      </div>

      <div class="banner__actions">
        <div class="display-inline-block">
          {# Wrap the banner actions in a div with the class 'banner__actions' #}

          {% if banner.actions %}
            {# Check if the 'banner.actions' variable is truthy #}

            {% for action in banner.actions %}
              {# Loop through each action in 'banner.actions' #}

              {% if action.href %}
                <a class="banner__action material-button button-text" href="{{ action.href }}" data-banner-close-btn>
                  {{ action.text }}
                </a>
                {# Render a link with the specified classes, href, and data attribute.
                 The link text is set to the value of 'action.text' #}

              {% else %}
                <button class="banner__action material-button button-text" data-banner-close-btn>
                  {{ action.text }}
                </button>
                {# Render a button with the specified classes and data attribute.
                 The button text is set to the value of 'action.text' #}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </announcement-banner>
{% endif %}

