{% from 'macros/icon.njk' import icon with context %}

{# Extend the title-bar partial layout #}
{% extends 'partials/title-bar.njk' %}

{# Override the title_bar_content block #}
{% block title_bar_content %}
  <nav class="breadcrumbs flow-space-200" aria-label="{{ 'i18n.common.breadcrumbs' | i18n(locale) }}">
    {# Build the breadcrumbs using the page URL and collections #}
    {% set all = helpers.buildBreadcrumbs(page.url, collections) %}
    {% for part in all -%}

      {# Add a keyboard arrow right icon between breadcrumb items, except for the first one #}
      {% if not loop.first -%}
        {{ icon('keyboard-arrow-right', {hidden: true}) }}
      {%- endif %}

      {# Check if the current breadcrumb is a heading or a regular breadcrumb #}
      {% if headingBreadcrumb and loop.last %}
        {# This is the last segment and we need to be a large <h1>. #}

        {% if part.url %}
          <h1 class="type--h5"><a class="link decoration-none no-visited" href="{{ part.url }}">{{ part.title }}</a></h1>
        {% else %}
          <h1 class="type--h5">{{ part.title }}</h1>
        {% endif %}

      {% else %}
        {# This is a middle or normal segment. #}

        {% if part.url %}
          <a class="link type--h6 decoration-none no-visited" href="{{ part.url }}">{{ part.title }}</a>
        {% elif not loop.last %}
          <span class="type--h6">{{ part.title }}</span>
        {% else %}
          {# This is the last text item of a segment, so make it large. #}
          <span class="type--h5">{{ part.title }}</span>
        {% endif %}
      {% endif %}

    {%- endfor %}
  </nav>
  {# If sharing is enabled, display the share button #}
  {% if sharingEnabled %}
    <share-button message="{{ title }}">
      <a class="share-button__link"
        href="https://twitter.com/share?url={{site.url}}{{ page.url | stripDefaultLocale}}&text={{title}}"
        target="_blank">
        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          {# Include the Twitter icon #}
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.97 14.81C13.5 14.31 14.21 14 15 14C16.66 14 18 15.34 18 17C18 18.66 16.66 20 15 20C13.34 20 12 18.66 12 17C12 16.76 12.04 16.53 12.09 16.31L5.04 12.19C4.5 12.69 3.79 13 3 13C1.34 13 0 11.66 0 10C0 8.34 1.34 7 3 7C3.79 7 4.5 7.31 5.04 7.81L12.09 3.7C12.04 3.48 1
