{#
  This is a Twig template that extends the 'partials/title-bar.njk' template and overrides the 'title_bar_content' block.

  It displays a breadcrumb navigation bar for a page with a title and an optional feed name. The breadcrumb bar includes:
  1. A link to the tags page with the label "Tags"
  
