{% from 'macros/icon.njk' import icon with context %}

{# Initialize an empty string variable to store a list of used APIs in lowercase and with spaces replaced by hyphens #}
{% set apis = "" %}

{# Initialize an empty string variable to store a list of used APIs for search functionality in regular form #}
{% set searchApis = "" %}

{% for api in item.usedAPIs %}
  {# Add the API name to the apis variable in lowercase and with spaces replaced by hyphens #}
  {% set apis = apis + " " + api.name | replace(" ", '-') %}
  {# Add the API name to the searchApis variable in regular form #}
  {% set searchApis = searchApis + " " + api.name %}
{% endfor %}

{# Replace the file extension of the item.screenshot variable with an empty string and store the result in the id variable #}
{% set id = item.screenshot | replace('.webp', '') %}

<div
  # Add an id attribute to the div element with the value of the id variable
  id="{{ id }}"
  # Add a data-terms attribute to the div element with a value consisting of the id variable, the lowercase title variable, the lowercase searchApis variable, and the lowercase appURL variable
  data-terms="{{ id + (item.title | lower) + " " + (searchApis | lower) + " " + (item.appURL | lower) }}"
  # Add a data-used-apis attribute to the div element with the value of the apis variable
  data-used-apis="{{ apis }}"
  # Add a class attribute to the div element with the value "blog-card fugu-card rounded-lg pad-300 md:pad-400 width-full"
  class="blog-card fugu-card rounded-lg pad-300 md:pad-400 width-full"
>
  <div class="blog-card__thumbnail gap-bottom-300">
    <a href="{{ item.appURL }}" rel="noopener" target="_blank">
      <picture>
        <source srcset="https://googlechromelabs.github.io/fugu-showcase/data/{{ item.screenshot }}">
        <source media="(prefers-color-scheme: dark)" srcset="https://googlechromelabs.github.io/fugu-showcase/data/{{ item.screenshotDark }}">
        <img class="hairline " alt="Screenshot of {{ item.title }}." height="800" src="{{ item.screenshot }}" width="1280" loading="lazy">
      </picture>
    </a>
  </div>

  <div class="fugu-card__actions display-inline-flex gap-bottom-300 pad-bottom-300">
    {# If the appURL variable is defined #}
    {% if item.appURL %}
      <a class="display-flex align-center color-primary type--small" href="{{ item.appURL }}" rel="noopener" target="_blank">
        {{ icon('external-link') }}
        {# If the isElectronApp variable is defined and true #}
        {% if item.isElectronApp %}
          {{ 'i18n.common.download_app' | i18n(locale) }}
        {% else %}
          {{ 'i18n.common.launch_app' | i18n(locale) }}
        {% endif %}
      </a>
    {% endif %}
    {# If the isElectronApp variable is defined and true #}
    {% if item.isElectronApp %}
      <span class="type--xsmall">(Electron.js)</span>
    {% endif %}
    {# If the sourceURL variable is defined #}
    {% if item.sourceURL %}
      <a class="display-flex align-center color-primary type--small" href="{{ item.sourceURL }}" rel="noopener" target="_blank">
        {{ icon('code') }}
        {{ 'i18n.common.view_source' | i18n(locale) }}
      </a>
    {% endif %}
  </div>

  <h2 class="type--h5">
    <a class="surface display-inline-flex color-text" href="{{ item.appURL }}">
      {{ item.title }}
    </a>
  </h2>

  <p class="type--caption gap-top-200">
    {{ item.description }}
  </p>

  {% from 'macros/tag.njk' import tag with context %}
  <div class="cluster flow-space-200 gap-top-300">
    <div>
      {% for api in item.usedAPIs %}
        <a
          # Add a class attribute to the a element with the value "tag-pill surface decoration-none hairline color-secondary-text type--label weight-regular rounded-lg"
          class="tag-pill surface decoration-none hairline color-secondary-text type--label weight-regular rounded-lg"
          # Add a
