// Globals
// @import statement to import global styles from '../global' file
@import '../global';

//blocks
// @import statements to import various blocks/components used in this file
@import '../blocks/event-card';
@import '../blocks/events-hero';
@import '../blocks/events-list';
@import '../blocks/checkbox-group';
@import '../blocks/filter-sheet';
@import '../blocks/enhanced-select';
@import '../blocks/tag-pill';
@import '../blocks/tag-pill-list';
@import '../blocks/tabs';

// Utilities
// @import statements to import various utility styles used in this file
@import '../utilities/center-margin';
@import '../utilities/center-images';
@import '../utilities/floats';
@import '../utilities/elevation';
@import '../utilities/hairline';
@import '../utilities/colors';
@import '../utilities/scrollbars';
@import '../utilities/surface';
@import '../utilities/visually-hidden';
@import '../utilities/wrapper';

.events-container {
  // Sets the maximum width of the container to 1290px plus 3rem of horizontal margin
  max-width: calc(1290px + 3rem);

  //events-container__filters
  // This class is used for the filters section within the events container
  &__filters {
    // Initially sets the display to 'none'
    display: none;

    // At the 'lg' media query breakpoint, sets the display to 'flex'
    @include media-query('lg') {
      display: flex;
    }

    // Styles for the span elements within the filters section
    > span {
      color: var(--color-grey-medium);
      font-size: 1rem;
      letter-spacing: 1.5px;
      line-height: 1rem;
      margin-right: 0.75rem;
    }

    // Hides the native select elements by setting their display to 'none'
    select {
      display: none;
    }

    // Styles for the enhanced-select component
    .enhanced-select__wrapper {
      border: 0;
    }
  }

  //events-container__filters label
  // Styles for the labels within the filters section
  &__filters label {
    color
