---
layout: 'layouts/blog-post.njk'  /* This line sets the layout for this page to 'layouts/blog-post.njk' */
permalink: false  /* This line specifies that the page should not be accessible through a permalink */
noindex: true  /* This line tells search engines not to index this page */
---

{% render body %}  /* This line renders the content of the 'body' variable */
