<!-- Project Fugu API Showcase XML feed -->
<feed xmlns="http://www.w3.org/2005/Atom">


<!-- The feed's title -->
<title>Project Fugu API Showcase</title>


<!-- The feed's subtitle -->
<subtitle>The Project Fugu API Showcase is a collection of apps that make use of APIs that were conceived in the context of Project Fugu.</subtitle>


<!-- A single entry in the feed, representing an app in the showcase -->
<entry>


<!-- The app's details, including a description, screenshot, and links -->
<content type="html"><![CDATA[


<!-- The app's screenshot -->
<img style="max-width: 100%; height: auto;" src="https://googlechromelabs.github.io/fugu-showcase/data/{{ item.screenshot }}" alt="The app at {{ item.appURL }}."/>


<!-- The app's URL -->
<a href="{{ item.appURL }}">


<!-- The app's source code URL -->
<a href="{{ item.sourceURL }}">


<!-- A list of APIs used in the app -->
<ul>


<!-- Closing the feed -->
</feed>
