<!-- The 'layout' variable is set to 'layouts/landing.njk', which is the layout file for this page. -->
{% set layout = 'layouts/landing.njk' %}

<!-- The page title is set to 'Capabilities'. -->
{% set title = 'Capabilities' %}

<!-- The page description is set to 'Enabling the most amazing apps on the web.'. -->
{% set description = 'Enabling the most amazing apps on the web.' %}

<!-- The 'sections' variable is an array containing different sections of the page. -->
{% set sections = [
  {% include 'sections/intro.njk' %},
  {% include 'sections/links.njk' %},
  {% include 'sections/powerful_apis.njk' %},
  {% include 'sections/hardware.njk' %},
  {% include 'sections/case_studies.njk' %},
  {% include 'sections/videos.njk' %},
  {% include 'sections/resources.njk' %}
] %}
