<!-- This is the layout file for the Workbox documentation website. -->
{%  <!-- Importing macros for hero card, blog card, icon, landing section, and landing deco. -->  %}

<!-- Unique styles for the Workbox hero card. -->
<style>
  .hero-card {
    /* Background image for the Workbox hero card. */
    background-image: url(https://wd.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kyRn8vjNdySIzbkaxFRr.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    --title-icon-color: var(--color-project-workbox);
  }

  /* Styles for the yellow button in the hero card. */
  .material-button.bg-yellow-medium {
    color: #000;
  }
</style>

<!-- Rendering the hero card with the provided parameters. -->
{{ heroCard(
  title,
  description,
  "Documentation",
  "/docs/workbox",
  "",
  "",
  "yellow",
  "image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/TvE0fdJmcXI8fuPc8R7A.svg"
  )
}}

<!-- Rendering the landing section for the Workbox documentation. -->
{{ landingSection(
  'Introduction to service workers',
  'Learn how service workers can progressively enhance your website and how Workbox makes it easy.',
  sections.intro,
  'green',
  'top-4',
  true,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/2xzRN81jadQ55f1WFkWH.svg',
  'Waving hand icon',
  333,
  165,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/kdPhkPXy7R0mmcJaKyoi.svg'
  )
}}

<!-- Rendering the landing section for the different ways to use Workbox. -->
{{ landingSection(
  'How to use Workbox',
  "There's more than one way to use Workbox so you can use the right integration for your project",
  sections.how_to_use,
  'blue',
  'left',
  true,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/DoFpXgJqk97W0lokcSCf.svg',
  'Arrow icon',
  429,
  278,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/pb9Ube4WajLTRTfYCRhF.svg'
  )
}}

<!-- Rendering the landing section for important information about service workers. -->
{{ landingSection(
  'What you need to know',
  'Guidance to consider when building a service worker',
  sections.know,
  'yellow',
  'right',
  true,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/rTbChNDzLjBFvBFMNONh.svg',
  'Graduation cap',
  284,
  193,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/d7PJT7aAzObC0ij7EDIJ.svg'
  )
}}

<!-- Rendering the landing section for use cases and recipes. -->
{{ landingSection(
  'Use cases and recipes',
  'Learn how to handle different use cases to get the most out of workbox',
  sections.use_cases,
  'green',
  'top-3',
  false,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/n9vOrhzQ2QEwhI2MQ7G3.svg',
  'Docs folder icon',
  333,
  165,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/cE1je8n7zbHoDRq6KoGa.svg'
  )
}}

<!-- Rendering the additional resources section. -->
<div class="landing-section landing-section--boxes rounded-lg width-full display-grid gap-top-500">
  {{ landingDeco(
    'Additional resources',
    'Dive deeper into Workbox modules, source code, and more',
    'yellow',
    'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/RzvgX7vWeDEwkA1IojgU.svg',
    'alt',
    291,
    251,
    'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/d7PJT7aAzObC0ij7EDIJ.svg'
    )
  }}

  <!-- Looping through the resources and rendering each item. -->
  {% for item in sections.resources %}
    <div class="rounded-lg pad-300 md:pad-400 width-full hairline display-flex direction-column">
      <h2 class="type--h4">
        <!-- Linking to the resource's URL. -->
        <a class="surface display-inline-flex color-text" href="{{item.url}}">
          {{ item.title }}
        </a>
      </h2>
      <!-- Displaying the resource's description. -->
      <p class="flex-1">{{ item.description }}</p>
    </div>
