<!-- This is the layout for the Program Policies page. -->

<!-- Importing the heroCardWide macro for displaying a wide hero card. -->
{% from 'macros/cards/hero-card-wide.njk' import heroCardWide with context %}

<!-- Importing the blogCard macro for displaying blog cards. -->
{% from 'macros/cards/blog-card.njk' import blogCard with context %}

<!-- Importing the icon macro for displaying icons. -->
{% from 'macros/icon.njk' import icon with context %}

<!-- Importing the landingSection macro for displaying a section with a title, description, and links. -->
{% from 'macros/landing-section.njk' import landingSection with context %}

<!-- Importing the landingSectionExpanded macro for displaying an expanded section with a title, description, and links. -->
{% from 'macros/landing-section-expanded.njk' import landingSectionExpanded with context %}

<!-- Importing the landingDeco macro for displaying a decorative section with a title, description, and icon. -->
{% from 'macros/landing-deco.njk' import landingDeco with context %}

<!-- All Sections -->

<!-- Rendering the heroCardWide macro with the title "Program Policies", a description of the policies, a link to the documentation, and a blue background. -->
{{ heroCardWide(
  'Program Policies',
  "The Chrome Web Store is committed to providing a safe and secure environment for users, built on trust and transparency. For these reasons, the Chrome Web Store requires all developers to comply with both the Developer Program Policies listed below, and the Developer Agreement. When your extension is reviewed by Google, these policies act as a guiding principle for those reviews. These policies apply to the entire user experience of your application/extension/theme – including any marketing materials, user generated content, ads, landing pages, etc – unless otherwise noted.",
  "Documentation",
  "/docs/webstore",
  "",
  "",
  "blue",
  "image/WlD8wC6g8khYWPJUsQceQkhXSlv1/TxmTDYQwpo6c34N0wuCq.svg"
  )
}}

<!-- Custom Landing Section 1 -->

<!-- Rendering the landingDeco macro with the title "Chrome Web Store Principles", a description of the principles, a yellow background, and a shield icon. -->
<div class="landing-section rounded-lg width-full hairline display-grid gap-top-500">
  {{ landingDeco(
    'Chrome Web Store Principles',
    'The Chrome Web Store is a premier platform where users can discover and install extensions that are high-quality, trusted, and safe. Chrome strives to reflect the diversity of its developers and users, but will robustly curate the products in the store to ensure a positive experience.  As we enhance and improve upon the Chrome Web Store experience, we are guided by the following core principles:',
    'yellow',
    "image/VbsHyyQopiec0718rMq2kTE1hke2/YSCPsUMCff5dlVbBCf7b.svg",
    "Shield.",
    250,
    124,
    "image/VbsHyyQopiec0718rMq2kTE1hke2/YSCPsUMCff5dlVbBCf7b.svg"
     )
}}
</div>

<!-- Custom Landing Section 2 -->

<!-- Rendering the landingSection macro with the title "Principles", a description of the principles, and a grid layout for displaying the individual principles. -->
<div class="landing-section landing-section--boxes rounded-lg width-full display-grid gap-top-500">
  {% for item in sections.principles %}
    <div class="rounded-lg pad-300 md:pad-400 width-full hairline display-flex direction-column">
      <h2 class="type--h3 color-{{item.color}}-medium">
        {{ item.title | md | safe }}
      </h2>
      <p class="flex-1">{{ item.description | md | safe }}</p>
    </div>
  {% endfor %}
</div>

<!-- Best Practices and Guidelines -->

<!-- Rendering the landingSection macro with the title "Best Practices and Guidelines", a description of the guidelines, and links to the guidelines. -->
{{ landingSection(
  'Best Practices and Guidelines',
  "To help ensure the best experience for both users and developers, please review the below guidelines before submitting your extension to the Chrome Web Store. Following all of these guidelines doesn’t mean your extension will be automatically approved, but they will help you to avoid common mistakes that often delay the review process.",
  sections.best_practices,
  'blue',
  'top-3',
  false,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg",
  "Graduation cap icon.",
  250,
  124,
  "image/VbsHyyQopiec0718rMq2kTE1hke2/QDyL1Otpv6Id7sDTconF.svg"
  )
}}

<!-- Fostering a Safe Ecosystem -->

<!-- Rendering the landingSection macro with the title "Fostering a Safe Ecosystem", a description of the ecosystem, and links to the related policies. -->
{{ landingSection(
  'Fostering a Safe Ecosystem',
  "The Chrome Web Store is committed to providing a safe and secure environment for users. Extensions which contain objectionable content or place users at risk are strictly prohibited.",
  sections.safe_ecosystem,
  'green',
  'top-4',
  true,
  'image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/2xzRN81jadQ55f1WFkWH.svg',
  'Waving
