<!-- This is a Nunjucks template for a style guide page. It includes various HTML elements, components, and custom tags to demonstrate the design system. -->

{% extends 'layouts/base.njk' %} {# Extends the base layout for consistent structure. #}

{% from 'macros/icon.njk' import icon with context %} {# Imports the icon macro for using icons. #}

{% block css %}
{% InlineCss '/css/single-post.css' %}
{% InlineCss '/css/styleguide.css' %}
{% endblock %} {# Inlines the single-post.css and styleguide.css files. #}

{% block content %}
<article class="stack wrapper type"> {# The main content container with various elements. #}
  <!-- Headings, paragraphs, and other typography elements are demonstrated here. -->

  <!-- Aside components for displaying additional information or notes. -->
  {% Aside %}
  Lorem ipsum dolor sit amet consectetur adipisicing elit. In, culpa quas
  ratione quidem inventore id.
  {% endAside %}

  <!-- Aside components with different styles for various types of notes. -->
  {% Aside 'caution' %}
  Lorem ipsum dolor sit amet consectetur adipisicing elit. In, culpa quas
  ratione quidem inventore id.
  {% endAside %}

  <!-- Various HTML5 tags and attributes are used in the paragraphs to show their usage. -->
  <p>
    This paragraph is nested inside an article. It contains many different, sometimes useful,
    <a href="https://www.w3schools.com/tags/">HTML5 tags</a>. Of course there are classics like
    <em>emphasis</em>,
    <strong>strong</strong>, and
    <small>small</small> but there are many others as well. Hover the following text for abbreviation tag:
    <abbr title="abbreviation">abbr</abbr>. Similarly, you can use acronym tag like this:
    <acronym title="For The Win">ftw</acronym>. You can define
    <del>deleted text</del> which often gets replaced with
    <ins>inserted</ins> text.
  </p>

  <!-- Additional HTML tags and attributes are demonstrated in the second paragraph. -->
  <p>
    You can also use
    <kbd>keyboard text</kbd>, which sometimes is styled similarly to the
    <code>&lt;code&gt;</code> or
    <samp>samp</samp> tags. Even more specifically, there is a tag just for
    <var>variables</var>. Not to be mistaken with blockquotes
    below, the quote tag lets you denote something as
    <q>quoted text</q>. Lastly don't forget the sub (H
    <sub>2</sub>O) and sup (E = MC
    <sup>2</sup>) tags.
  </p>

  <!-- Various figures, images, and captions are used to demonstrate their usage. -->
  <h2>In my quaint garden</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolore voluptatem et enim ab itaque assumenda nulla? Praesentium repellendus iure corporis illo, ut facilis voluptas eveniet non necessitatibus reprehenderit quia.
  </p>
  <figure>
    <img src="https://webdev.imgix.net/images/headers/about.svg" alt="">
    <figcaption>Fig1. A picture stolen from web.dev's about page.</figcaption>
  </figure>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, culpa quo totam alias maxime expedita porro ut perspiciatis nulla hic, sed obcaecati voluptates sunt dolores, distinctio illo cumque voluptate explicabo!
  </p>

  <!-- A full-bleed image is demonstrated here. -->
  <figure class="type--full-bleed">
    <img src="./a.jpg" alt="">
  </figure>

  <!-- Additional paragraphs and figures are used to demonstrate their usage. -->
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, culpa quo totam alias maxime expedita porro ut perspiciatis nulla hic, sed obcaecati voluptates sunt dolores, distinctio illo cumque voluptate explicabo!
  </p>

  <!-- Headings, paragraphs, and other typography elements are demonstrated here. -->
  <h2>In my quaint garden</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolor. Consectetur, unde alias! Omnis voluptates pariatur doloremque saepe sapiente unde nesciunt reprehenderit eos itaque sint sed, tenetur dolorum repellat corrupti?
  </p>

  <!-- Blockquotes are demonstrated here. -->
  <blockquote>
    <p>Blockquote: I quickly explained that many big jobs involve few hazards</p>
  </blockquote>

  <!-- A multiline blockquote with a cite reference is demonstrated here. -->
  <blockquote>
    <p>
      This is a mult-line blockquote with a cite reference. People think focus means saying yes to the thing you've got to focus on. But that's not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick
      carefully. I'm actually as proud of the things we haven't done as the things I have done. Innovation is saying no to 1,000 things.
    </p>
    <cite>
